/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');

/* general */
body{padding: 0; margin: 0; overflow-x: hidden!important; font-family: 'Roboto', sans-serif; font-weight: normal;}
a, a:focus, a:hover, a:visited{text-decoration: none;}
img{display:block;}
.verticalAlignMiddle{display:-webkit-flex; -webkit-align-items:center; display:flex; align-items:center;}
.dis-not{display: none;}
button:focus{outline: none!important;}


/* form */
textarea{resize:none;}
.form-control::-webkit-input-placeholder{color:rgba(83,27,162,0.6);}
.form-control::-moz-placeholder{color:rgba(83,27,162,0.6);}
.form-control:-ms-input-placeholder{color:rgba(83,27,162,0.6);}
.form-control:-moz-placeholder{color:rgba(83,27,162,0.6);}
.form-control{font-size:14px; background-color: #FFF; letter-spacing:0.1em; font-weight:300; outline:none; border:0; position:relative; border-radius:12px; color:#49157e; height: 40px; margin-bottom: 15px;}
.form-control:focus{outline:none; border:0; box-shadow:none; font-weight:800;}

.land{background-image: url(../image/back.jpg); background-size: auto; background-repeat: repeat;}
.form{padding: 0 7% 0 8%; margin-top: 7%;}
.form .row{border-radius: 20px; background-color: #edeff1; padding: 6%;}
.form button{color: #FFF; font-weight: 700; background-color: #49157e; border-radius: 25px; text-align: center; width: 85%; display: table; margin: 0 auto 0 auto; padding: 20px; font-size: 30px; border: none;}
.form button:hover{color: #49157e;; background-color: #FFF;}
.form h2{color: #b1b8c5; font-size: 30px; margin-bottom: 25px;}
.form h2 span{border-radius: 50%; background-color: #49157e; color: #FFF; display: inline-block; text-align: center; width: 39px;}
.form .check{display: inline-block; width: 7%;}
.form .check input[type=checkbox]{position: absolute; margin: -27px 0 0 -8px;}
.form .terms{display: inline-block; width: 90%; height: 50px; overflow-y: auto;}
.form .terms p{color: #49157e;}

/* ************************************************** MEDIA QUERIES ************************************************** */

@media only screen and (min-width: 1601px) and (max-width: 1900px) {}
@media only screen and (min-width: 1280px) and (max-width: 1600px) {

}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .form{padding: 4%;}

}
@media only screen and (min-width: 480px) and (max-width: 767px) {
 .form{padding: 10%;}
}
@media only screen and (max-width: 479px) {
  .form{padding: 10%;}

}